/* RESET DEFAULT BROWSER STYLES */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px lightslategray;
    border-radius: 5px;
    z-index: 10;
    background-color: lightgray;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px lightgrey;
}

.modal-body {
    padding: 10px 15px
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    margin-top: -20px;
    margin-bottom: -20px;
    background-image: url(https://wallpapers.com/images/high/artistic-background-3840-x-2160-6oahrpaq8z5pto1a.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    /* display: flex;
    align-items: start;
    justify-content: start; */
    padding: 20px 10px 10px;
    color: white;
    background: rgb(0,0,0,0.5);
    font-size: 3rem;
}

/* Styles for posters */
.container{
    width: 40%;
    margin: 2rem auto;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

button{
    padding: 1px;
    border-radius: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    padding: 3px;
    background-color: black;
}

.gallery__img:hover{
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    padding: 3px;
    background-color: darkslategray;
}

.gallery__item--1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9
}

.gallery__item--6{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
